.module-eight {
    background: url(http://placehold.it/1350x450/) center center no-repeat !important;
}

.module-eight-text-logo {
    background: url(http://placehold.it/62x78/f00?text=LOGO) top left !important;
}

.toastr-file-upload-button {
    color: black;
}

.level-one-square-ad-module-first-bottom > div > .cr-note , 
.level-one-square-ad-module-second-bottom > div > .cr-note  {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
}
